﻿@model MiniShoppingCartModel
@using Nop.Web.Models.ShoppingCart;
@functions{
    public string getColorName(string str)
    {
        string result = "";

        try
        {
            string[] arr = str.Split('_');
            if (arr.Length == 2)
            {
                arr = arr[1].Split('.');
                if (arr.Length == 2)
                    result = arr[0];
            }
        }
        catch { }

        return result;
    }
}
<div id="flyout-cart">
    <div class="minishoppingcart">
        <div class="count">
            @if (Model.TotalProducts == 0)
            {
                @T("ShoppingCart.Mini.NoItems")
            }
            else
            {
                @Html.Raw(string.Format(T("ShoppingCart.Mini.ItemsText").Text, string.Format("<a href=\"{0}\" class=\"items\">{1}</a>", Url.RouteUrl("ShoppingCart"), string.Format(T("ShoppingCart.Mini.Items").Text, Model.TotalProducts))))
            }
        </div>
        @if (Model.TotalProducts > 0)
        {
            if (Model.Items.Count > 0)
            {
                <div class="items">
                    <table>
                        @if (Model.ShowProductImages)
                        {
                            <col width="1" />
                        }
                        <col />
                        <tbody>
                            @for (int i = 0; i < Model.Items.Count; i++)
                            {
                                var item = Model.Items[i];
                                <tr class="item @(i == 0 ? "first" : null)">
                                    @if (Model.ShowProductImages)
                                    {
                                        var idvalue = item.Id;
                                        var list = ViewData["listColors" + idvalue.ToString()];
                                        int imagCnt = 0;
                                        <td class="picture">
                                            <div class="rocketpack">
                                                @foreach (var color in ViewData["listColors" + idvalue.ToString()] as List<string>)
                                                {
                                                    if (imagCnt == 0)
                                                    {
                                                        <img class="frontleft" alt="Front Left" src="@color" title="@(getColorName(color))" />

                                                    }
                                                    if (imagCnt == 1)
                                                    {
                                                        <img class="frontright" alt="Front Right" src="@color" title="@(getColorName(color))" />

                                                    }
                                                    if (imagCnt == 2)
                                                    {
                                                        <img class="frontspring" alt="Spring set" src="@color" title="@(getColorName(color))" />
                                                        <div class="clear"></div>

                                                    }
                                                    if (imagCnt == 3)
                                                    {
                                                        <img class="frontleft" alt="Back Left" src="@color" title="@(getColorName(color))" />

                                                    }
                                                    if (imagCnt == 4)
                                                    {
                                                        <img class="frontright" alt="Back Right" src="@color" title="@(getColorName(color))" />

                                                    }
                                                    if (imagCnt == 2)
                                                    {
                                                        <img class="backspring" alt="Spring set" src="@color" title="@(getColorName(color))" />

                                                    }
                                                    imagCnt += 1;
                                                }
                                                @*<a href="@Url.RouteUrl("Product", new { productId = item.ProductId, SeName = item.ProductSeName })" title="@item.Picture.Title">
                                                        <img alt="@item.Picture.AlternateText" src="@item.Picture.ImageUrl" title="@item.Picture.Title" />
                                                    </a>*@
                                            </div>
                                        </td>
                                    }
                                    <td class="product">
                                        <div class="name">
                                            <a href="@Url.RouteUrl("Product", new { productId = item.ProductId, SeName = item.ProductSeName })">@item.ProductName</a>
                                        </div>
                                        @if (!String.IsNullOrEmpty(item.AttributeInfo))
                                        {
                                            <div class="clear">
                                            </div>
                                            <div class="attributes">
                                                @Html.Raw(item.AttributeInfo)
                                            </div>
                                        }
                                        <div class="clear">
                                        </div>
                                        <div class="price"><label>@T("ShoppingCart.Mini.UnitPrice"):</label> @item.UnitPrice</div>
                                        <div class="clear">
                                        </div>
                                        <div class="quantity"><label>@T("ShoppingCart.Mini.Quantity"):</label> @item.Quantity</div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="clear">
                </div>
            }
            <div class="totals"><label>@T("ShoppingCart.Totals.SubTotal"):</label> @Model.SubTotal</div>
            <div class="clear">
            </div>
            <div class="buttons">
                @if (Model.DisplayShoppingCartButton)
                {
                    <input type="submit" value="@T("ShoppingCart.Mini.ViewCart")" class="cartbutton" onclick="setLocation('@(Url.RouteUrl("ShoppingCart"))')" />

                }
                @*@if (Model.DisplayCheckoutButton)
                    {
                        var checkoutUrl = "";
                        if (Model.AnonymousCheckoutAllowed && Model.CurrentCustomerIsGuest)
                        {
                            checkoutUrl = Url.RouteUrl("LoginCheckoutAsGuest", new { returnUrl = Url.RouteUrl("ShoppingCart") });
                        }
                        else
                        {
                            checkoutUrl = Url.RouteUrl("Checkout");
                        }
                        <input type="submit" name="checkout" value="@T("Checkout")" id="checkout" class="checkoutbutton" onclick="checkstock();setLocation('@checkoutUrl');" />
                        <input type="submit" value="@T("Checkout")" class="checkoutbutton" onclick="setLocation('@checkoutUrl')" />
                    }*@
                <div class="coupon-box terms minicart">

                </div>
            </div>
        }
    </div>
</div>
<script type="text/javascript">
    function checkstock() {
        //        var addressValue = location.href.split('/cart');
        //        var address = addressValue[0].toString() + "/ModelPopupWeb/CheckStockCart";

        var url = window.location.href;
        var url_parts = url.split('/');
        var domain_name_parts = url_parts[2].split(':');
        var domain_name = domain_name_parts[0];
        var port_number = domain_name_parts[1];
        //alert(domain_name);
        //alert(port_number);

        var address = "http://" + domain_name;
        if (port_number != "") {
            address = address + ":" + port_number;
        }
        //address = address + "/ModelPopupWeb/CheckStockCart";
        address = "/ModelPopupWeb/CheckStockCart";
        //alert(address);
        $.ajax({
            type: 'POST',
            cache: false,
            async: false,
            url: address,
            data: {},
            success: function (res) {
                if (res == "OK") // All colors are in stock
                {
                    result = "1";
                }
                else // Colors are out of stock
                {
                    result = "0";
                    alert(res);
                }
            }
        });
        return model;
        return false;
    }
</script>
