﻿@model Nop.Web.Models.ShoppingCart.ShoppingCartModel
@using Nop.Core.Domain.Orders
@using Nop.Web.Framework;
@functions{
    public string getColorName(string str)
    {
        string result = "";

        try
        {
            string[] arr = str.Split('_');
            if (arr.Length == 2)
            {
                arr = arr[1].Split('.');
                if (arr.Length == 2)
                    result = arr[0];
            }
        }
        catch { }

        return result;
    }
}
<div class="order-summary-content">
    @if (Model.Items.Count > 0)
    {
        if (Model.Warnings.Count > 0)
        {
            <div class="message-error">
                @for (int i = 0; i < Model.Warnings.Count; i++)
                {
                    @Model.Warnings[i]
                    if (i != Model.Warnings.Count - 1)
                    {
                        <br />
                    }
                }
            </div>
        }
        @*we add enctype = "multipart/form-data" because "File upload" attribute control type requries it*@
        using (Html.BeginRouteForm("ShoppingCart", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <table class="cart">
                @if (Model.IsEditable)
                {
                    <col width="1" />
                }
                @if (Model.ShowSku)
                {
                    <col width="1" />
                }
                @if (Model.ShowProductImages)
                {
                    <col width="1" />
                }
                <col />
                <col width="1" />
                <col width="1" />
                <col width="1" />
                <thead>
                    <tr class="cart-header-row">
                        @if (Model.IsEditable)
                        {
                            <th>
                                @T("ShoppingCart.Remove")
                            </th>
                        }
                        @if (Model.ShowSku)
                        {
                            <th>
                                @T("ShoppingCart.SKU")
                            </th>
                        }
                        @if (Model.ShowProductImages)
                        {
                            <th class="picture">
                            </th>
                        }
                        <th>
                            @T("ShoppingCart.Product(s)")
                        </th>
                        <th>
                            @T("ShoppingCart.UnitPrice")
                        </th>
                        <th>
                            @T("ShoppingCart.Quantity")
                        </th>
                        <th class="end">
                            @T("ShoppingCart.ItemTotal")
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Items)
                    {
                        <tr class="cart-item-row">
                            @if (Model.IsEditable)
                            {
                                <td>
                                    <input id="removefromcart" type="checkbox" name="removefromcart" value="@(item.Id)" />
                                </td>
                            }
                            @if (Model.ShowSku)
                            {
                                <td class="nobr">
                                    @item.Sku
                                </td>
                            }
                            @if (Model.ShowProductImages)
                            {
                                var idvalue = item.Id;
                                var list = ViewData["listColors" + idvalue.ToString()];
                                int imagCnt = 0;
                                <td class="productpicture">
                                    <div class="rocketpack">
                                        @foreach (var color in ViewData["listColors" + idvalue.ToString()] as List<string>)
                                        {
                                            if (imagCnt == 0)
                                            {
                                                <img class="frontleft" alt="Front Left" src="@color" title="@(getColorName(color))" />
                                            }
                                            if (imagCnt == 1)
                                            {
                                                <img class="frontright" alt="Front Right" src="@color" title="@(getColorName(color))" />
                                            }
                                            if (imagCnt == 2)
                                            {
                                                <img class="frontspring" alt="Spring set" src="@color" title="@(getColorName(color))" />
                                                <div class="clear">
                                                </div>
                                            }
                                            if (imagCnt == 3)
                                            {
                                                <img class="frontleft" alt="Back Left" src="@color" title="@(getColorName(color))" />
                                            }
                                            if (imagCnt == 4)
                                            {
                                                <img class="frontright" alt="Back Right" src="@color" title="@(getColorName(color))" />
                                            }
                                            if (imagCnt == 2)
                                            {
                                                <img class="backspring" alt="Spring set" src="@color" title="@(getColorName(color))" />
                                            }
                                            imagCnt += 1;
                                        }
                                        @*<div id="rock_back_right" style="background-image: url('/Content/Images/design/right-racer_red.png;');"></div>*@
                                        @*<img alt="SD" style="width:30px;height:30px;" src="/Content/Images/design/right-racer_red.png" title="@item.Picture.Title" />*@
                                        @*<img alt="@item.Picture.AlternateText" src="@item.Picture.ImageUrl" title="@item.Picture.Title" />*@
                                    </div>
                                </td>
                            }
                            <td class="product">
                                <a href="@Url.RouteUrl("Product", new { productId = item.ProductId, SeName = item.ProductSeName })" title="View details">@item.ProductName</a>
                                @if (!String.IsNullOrEmpty(item.AttributeInfo))
                                {
                                    <br />
                                    @Html.Raw(item.AttributeInfo)
                                }
                                @if (!String.IsNullOrEmpty(item.RecurringInfo))
                                {
                                    <br />
                                    @Html.Raw(item.RecurringInfo)
                                }
                                @if (item.Warnings.Count > 0)
                                {
                                    <div class="message-error">
                                        @for (int i = 0; i < item.Warnings.Count; i++)
                                        {
                                            @item.Warnings[i]
                                            if (i != item.Warnings.Count - 1)
                                            {
                                                <br />
                                            }
                                        }
                                    </div>
                                }
                            </td>
                            <td class="nobr">
                                <span class="productPrice">@item.UnitPrice</span>
                            </td>
                            <td class="nobr">
                                @if (Model.IsEditable)
                                {
                                    <input name="itemquantity@(item.Id)" type="text" value="@(item.Quantity)" id="itemquantity@(item.Id)" class="qty-input" />
                                }
                                else
                                {
                                    <span>@item.Quantity</span>
                                }
                            </td>
                            <td class="nobr end">
                                <span class="productPrice">@item.SubTotal</span>
                                @if (!String.IsNullOrEmpty(item.Discount))
                                {
                                    <br />
                                    @T("ShoppingCart.ItemYouSave")<text>:</text>
                                    <text>&nbsp; &nbsp;</text>@item.Discount
                                }
                            </td>
                        </tr>

                    }
                </tbody>
            </table>
            <div class="clear">
            </div>
            if (!String.IsNullOrEmpty(Model.CheckoutAttributeInfo))
            {
                <div class="selected-checkout-attributes">
                    @Html.Raw(Model.CheckoutAttributeInfo)
                </div>
                <div class="clear">
                </div>
            }
            <div>
                @if (Model.IsEditable)
                {
                    <div class="common-buttons">
                        <input type="submit" name="updatecart" value="@T("ShoppingCart.UpdateCart")" id="updatecart" class="updatecartbutton" />
                        <div class="coupon-box terms">
                            <b>@T("freegiftdescription")</b>
                        </div>
                        @*<table align="center">
                                <tr>
                                    <td> <img src="../../Content/Images/RockerzTag.png" />
                                    </td>
                                    <td>
                                    </td>
                                </tr>
                            </table>*@
                        <div class="coupon-box terms">
                            @*<input id="ChxName" name="ChxName" type="checkbox" value="true" />*@
                            <p style="margin: 0 auto;">
                                <input id="ChxName" name="ChxName" type="checkbox" value="true" style="float: left;
                                margin-right: 6px;" />
                                <label for="ChxName">
                                    Terms of use
                                    <br />
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;I agree that I have accurately entered my Blade Make,
                                    Model & Size.<br />
                                    &nbsp;&nbsp;&nbsp;&nbsp; (If you are not sure, please contact us and we will assist
                                    you with determining your Blade Make, Model & Size.)
                                </label>
                            </p>
                        </div>
                        <!--                    <input type="submit" name="continueshopping" value="@T("ShoppingCart.ContinueShopping")" id="continueshopping" class="continueshoppingbutton" />-->
                        <input type="submit" name="startcheckout" value="startcheckout" id="startcheckout"
                               style="display: none;" />
                    </div>
                    <div class="clear">
                    </div>
                    @Html.Partial("_CheckoutAttributes", Model.CheckoutAttributes, new ViewDataDictionary())
                    <div class="clear">
                    </div>
                }
            </div>
            <div class="clear">
            </div>
            <div class="cart-footer">
                @if (Model.IsEditable)
                {
                    if (!String.IsNullOrEmpty(Model.MinOrderSubtotalWarning))
                    {
                        <div>
                            <div class="min-amount-warning">
                                @Model.MinOrderSubtotalWarning
                            </div>
                        </div>
                    }
                }
                <div class="clear">
                </div>
                <div class="totals">
                    @Html.Action("OrderTotals", "ShoppingCart", new { isEditable = "True" })
                    @if (Model.IsEditable)
                    {
                        <div class="clear">
                        </div>
                        if (Model.TermsOfServiceOnShoppingCartPage)
                        {
                            <script language="javascript" type="text/javascript">
                                function accepttermsofservice() {
                                    if (!document.getElementById('termsofservice').checked) {
                                        alert('@T("Checkout.TermsOfService.PleaseAccept")');
                                        return false;
                                    }
                                    else
                                        return true;
                                }
                            </script>
                            <div class="terms-of-service">
                                <input id="termsofservice" type="checkbox" name="termsofservice" />
                                @T("Checkout.TermsOfService.IAccept")
                                @*uncomment below to how simple pop-up*@ @*<span class="read" onclick="javascript:OpenWindow('@Url.RouteUrl("TopicPopup", new { SystemName = "conditionsofUse" })', 450, 500, true)">@T("Checkout.TermsOfService.Read")</span>*@
                                @*use fancybox to how nice pop-up*@
                                @{
                            Html.AddScriptParts(@Url.Content("~/Scripts/jquery.fancybox-1.3.4.pack.js"));
                            Html.AddCssFileParts(@Url.Content("~/Content/fancybox/jquery.fancybox-1.3.4.css"));
                                }
                                <a class="read" href='@Url.RouteUrl("TopicPopup", new { SystemName = "conditionsofUse" })'>@T("Checkout.TermsOfService.Read")</a>
                                <script type="text/javascript">
                                    $(".terms-of-service .read").fancybox({
                                        'speedIn': 600,
                                        'speedOut': 200,
                                        'width': 450,
                                        'height': 500,
                                        'type': 'iframe',
                                        'centerOnScroll': true
                                    });
                                </script>
                            </div>
                        }

                        <div class="clear">
                        </div>
                        <div class="checkout-buttons">
                            @if (String.IsNullOrEmpty(Model.MinOrderSubtotalWarning))
                            {
                                <script language="javascript" type="text/javascript">
                                    function startcheckout() {
                                        //terms of services
                                        var termOfServiceOk = true;
                                        @if (Model.TermsOfServiceOnShoppingCartPage)
                                    {
                                        <text>
                                        termOfServiceOk = accepttermsofservice();
                                        </text>
                                    }
                                        if (termOfServiceOk) {
                                            $('#startcheckout').trigger("click");
                                        }
                                    }


                                    function checkTermas() {
                                        // shivam - check stock
                                        if (document.getElementById('ChxName').checked == false) {
                                            alert("To proceed you must agree to terms of use.");
                                            return false;
                                        }
                                        else {
                                            var addressValue = location.href.split('/cart');
                                            //var address = addressValue[0].toString() + "/ModelPopupWeb/CheckStockCart";
                                            var address = "/ModelPopupWeb/CheckStockCart";
                                            $.ajax({
                                                type: 'POST',
                                                cache: false,
                                                async: false,
                                                url: address,
                                                data: {},
                                                success: function (res) {
                                                    if (res == "OK") // All colors are in stock
                                                    {
                                                        result = "1";
                                                        startcheckout();
                                                    }
                                                    else // Colors are out of stock
                                                    {
                                                        result = "0";
                                                        alert(res);
                                                        return false;
                                                    }
                                                }
                                            });
                                        }
                                    }
                                </script>
                                <input type="submit" name="checkout" value="continue checkout >" id="checkout" class="input-button"
                                       onclick="return checkTermas();" />
                            }
                        </div>
                        <div class="addon-buttons">
                            @*Payment method buttons (e.g. GoogleCheckoutButton, Paypal Express)*@
                            @if (Model.ButtonPaymentMethodActionNames != null && Model.ButtonPaymentMethodActionNames.Count > 0)
                            {
                                for (int i = 0; i < Model.ButtonPaymentMethodActionNames.Count; i++)
                                {
                                    @Html.Action(Model.ButtonPaymentMethodActionNames[i], Model.ButtonPaymentMethodControllerNames[i], Model.ButtonPaymentMethodRouteValues[i])
                                }
                            }
                        </div>
                    }
                </div>
                <div class="cart-collaterals">
                    @if (Model.IsEditable)
                    {
                        <div class="deals">
                            @Html.Partial("_DiscountBox", Model.DiscountBox)
                            @Html.Partial("_GiftCardBox", Model.GiftCardBox)
                            @Html.Widget("order_summary_content_deals")
                        </div>
                    }
                </div>
                <div class="clear">
                </div>
                @Html.Action("CrossSellProducts", "Product")
            </div>
        }
    }
    else
    {
        @T("ShoppingCart.CartIsEmpty")
    }
</div>
