﻿@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";
}
@model Nop.Web.Models.Catalog.Location
@{
    ViewBag.Title = "GoogleMaps";
}
@*@using Telerik.Web.Mvc.UI;*@
@using Nop.Core.Infrastructure;
@Html.ValidationSummary(false)
@Html.HiddenFor(model => model.ID)
@{ 
    var _settingService = EngineContext.Current.Resolve<Nop.Services.Configuration.ISettingService>();
    var googleKey = _settingService.GetSettingByKey<string>("NB.GoogleAccount.Key", "AIzaSyArHFwUN6epZiqDMAzdp-uhjgbmAJ_uttc");
}
<style type="text/css">
    .infowin
    {
        width: 280px;
        height: 150px;
        overflow:auto;
    }
    .infowinHyperLink a
    {
        color: #159ccd;
    }
</style>
<div id="map_bg">
    <script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=false&key=@googleKey"></script>
    <script src="https://code.jquery.com/jquery-1.5.min.js" type="text/javascript"></script>
    <script src="../../Scripts/markerclusterer.js" type="text/javascript"></script>
    <script src="../../Scripts/markerclusterer_packed.js" type="text/javascript"></script>
    <script type="text/javascript">
        var test = 0;       
        function initialize() {
            var outdata ;
            var clientIp='';
              $.ajax({
                            cache:false,
                            async:false,
                            type: "GET",
                            dataType:"JSON",
                            url: "@(Url.Action("GetMapByIpAddress", "LocationForGoogleMap"))",
                            data: {  },
                            success: function (data) {
                            outdata = data;
                            test = 0;
                            },
                            error:function (xhr, ajaxOptions, thrownError){
                                    test = parseInt(test) + 1;
                                    if(test < 9)
                                    {
                                    initialize();
                                    }
                                    else{
                                     alert('Failed to retrieve location data.')
                                    }
                            }  
                        });

                       CreateMap(outdata);  
//            var latLng = new google.maps.LatLng(30.7054135, 76.70912);
//            var myOptions = { zoom: 7, center: latLng, mapTypeId: google.maps.MapTypeId.ROADMAP };
//            var map = new google.maps.Map(document.getElementById("map_canvas1"), myOptions);
        }
        $(document).ready(function () { initialize(); });
    </script>
    <input type="hidden" id="hdd_clientIP" class="hdd_clientIP" runat="server" />
    <div class="mp_bg">
        <div id="map" style="width: 875px; height: 500px;">
        </div>
        <script type="text/javascript">
            function CreateMap(locations) {
                var customeZoom = 2;// locations.Zoom;
                var CenterLat = 19;// 30.68;// locations.CenterLat;
                var CenterLag = 20;// 76.7221;// locations.CenterLag;
                var infoList = locations.InfoList;
                locations = infoList;

                mcOptions = { styles: [{
                    height: 68,
                    textColor: 'white',
                    url: "../../Content/Images/Wheel-cluster-pin-numeric.png",
                    width: 92
                }]
                }

                var map = new google.maps.Map(document.getElementById('map'), {
                    zoom: customeZoom,
                    center: new google.maps.LatLng(CenterLat, CenterLag),
                    mapTypeId: google.maps.MapTypeId.ROADMAP
                });
                //alert("Center Address Lat Value :- " + CenterLat + " Lag value :- " + CenterLag + " Zoom Value :- " + customeZoom);
                //alert("Browser IP Address :- " + locations[0].IPAddressOfBrowser)



                //                var infowindow = new google.maps.InfoWindow({ content: "loading...", maxWidth: 200, maxHeight: 90, width: 150, height: 60 });
                var infowindow = new google.maps.InfoWindow();


                //var image = 'http://sinek.keyedout.com/Content/Images/maps/Wheel-cluster-pin-numeric.png';
                var image = '../../Content/Images/google-map-img.gif';

                var marker, i;
                var markers = [];

                for (i = 0; i < locations.length; i++) {
                    var beach = locations[i];
                    marker = new google.maps.Marker({
                        position: new google.maps.LatLng(locations[i].Lat, locations[i].Lag),
                        map: map,
                        icon: image
                    });

                    google.maps.event.addListener(marker, 'click', (function (marker, i) {
                        return function () {

                            var Addr = locations[i].address;
                            var Name1 = locations[i].Name1;
                            var Name2 = locations[i].Name2;
                            var PhoneNumber1 = locations[i].PhoneNumber1;
                            var PhoneNumber2 = locations[i].PhoneNumber2;
                            var Fax = locations[i].Fax;
                            var WebSite = locations[i].WebSite;
                            var Email = locations[i].email;

                            var address = '<h3>' + locations[i].Name1 + '</h3>';

                            if (Name2.length > 0) { address = address + '<h3>' + Name2 + '</h3>'; }
                            address = address + '<div>' + Addr.replace(/,/g, '</div><div>') + '</div>';
                            address = address + '<br />';
                            if (PhoneNumber1.length > 0) { address = address + '<div><a href="tel:' + PhoneNumber1 + '">' + PhoneNumber1 + '</a></div>'; }
                            if (PhoneNumber2.length > 0) { address = address + '<div><a href="tel:' + PhoneNumber2 + '">' + PhoneNumber2 + '</a></div>'; }
                            if (Fax.length > 0) { address = address + '<div>' + Fax + '</div>'; }

                            if (WebSite.length > 0) {
                                if (WebSite.indexOf(",") > -1) {
                                    var websitee = WebSite.split(',');
                                    for (var t = 0; t < websitee.length; t++) {
                                        address = address + '<div class="infowinHyperLink"><a href="http://' + websitee[t].trim() + '" target="_blank">' + websitee[t].trim() + '</a></div>';
                                    }
                                }
                                else {
                                    address = address + '<div class="infowinHyperLink"><a href="http://' + WebSite + '" target="_blank">' + WebSite + '</a></div>';
                                }
                            }

                            if (Email.length > 0) {
                                if (Email.indexOf(",") > -1) {
                                    var emaill = Email.split(',');
                                    for (var m = 0; m < emaill.length; m++) {
                                        address = address + '<div class="infowinHyperLink" ><a href="mailto://' + emaill[m].trim() + '" target="_blank">' + emaill[m].trim() + '</a></div>';
                                    }
                                }
                                else {
                                    address = address + '<div class="infowinHyperLink" ><a href="mailto://' + Email + '" target="_blank">' + Email + '</a></div>';
                                }
                            }

                            var $infoWindowContent = $("<div class='infowin'>" + address + "</div>");
                            infowindow.setContent($infoWindowContent[0]);
                            infowindow.open(map, marker);

                            //                            infowindow.setContent(address);
                            //                            infowindow.open(map, marker);
                        }
                    })(marker, i));


                    //                    google.maps.event.addListener(marker, 'click', (function (marker, i) {
                    //                        return function () {
                    //                            var address = locations[i].address;
                    //                            var Name1 = locations[i].Name1;
                    //                            var Name2 = locations[i].Name2;
                    //                            var PhoneNumber1 = locations[i].PhoneNumber1;
                    //                            var PhoneNumber2 = locations[i].PhoneNumber2;
                    //                            var Fax = locations[i].Fax;
                    //                            var WebSite = locations[i].WebSite;
                    //                            var email = locations[i].email;

                    //                            if (Name1.length > 0) {address = address + "<br />" + Name1;}
                    //                            if (Name2.length > 0) { address = address + "<br />" + Name2; }
                    //                            if (PhoneNumber1.length > 0) { address = address + "<br />" + PhoneNumber1; }
                    //                            if (PhoneNumber2.length > 0) { address = address + "<br />" + PhoneNumber2; }
                    //                            if (Fax.length > 0) { address = address + "<br />" + Fax; }
                    //                            if (WebSite.length > 0) { address = address + "<br />" + WebSite; }
                    //                            if (email.length > 0) { address = address + "<br />" + email; }

                    //                            //address = address.replace(/,/g, "<br />");
                    //                            infowindow.setContent(address);
                    //                            infowindow.open(map, marker);
                    //                        }
                    //                    })(marker, i));

                    markers.push(marker);
                }
                var markerCluster = new MarkerClusterer(map, markers, mcOptions);


            }
        </script>
    </div>
</div>
<div>
    <input type="hidden" id="hdIpAddress" />
</div>
