﻿@model ChangePasswordModel
@{
    Layout = "_ColumnsTwo";

    //title
    Html.AddTitleParts(T("PageTitle.Account").Text);
    //page class
    Html.AppendPageCssClassParts("html-account-page");
    Html.AppendPageCssClassParts("html-change-password-page");
}
@section left
{
    @await Component.InvokeAsync("CustomerNavigation", new { selectedTabId = CustomerNavigationEnum.ChangePassword })
}

<div class="page account-page change-password-page">
    <div class="page-title">
        <h1>@T("Account.ChangePassword")</h1>
    </div>
    <div class="page-body">
        @if (!string.IsNullOrEmpty(Model.Result))
        {
            <div class="result">
                @Model.Result
            </div>
        }
        <form asp-route="CustomerChangePassword" method="post">
            <div asp-validation-summary="ModelOnly" class="message-error"></div>
            <div class="fieldset">
                <div class="form-fields">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="inputs">
                                <label asp-for="OldPassword" asp-postfix=" "></label>
                                <input asp-for="OldPassword" type="password" placeholder="@T("Account.ChangePassword.Fields.OldPassword.PlaceHolder")" />
                                <nop-required />
                                <span asp-validation-for="OldPassword"></span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="inputs">
                                <label asp-for="NewPassword" asp-postfix=" "></label>
                                <input asp-for="NewPassword" placeholder="@T("Account.ChangePassword.Fields.NewPassword.PlaceHolder")" />
                                <nop-required />
                                <span asp-validation-for="NewPassword"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="inputs">
                                <label asp-for="ConfirmNewPassword" asp-postfix=" "></label>
                                <input asp-for="ConfirmNewPassword" placeholder="@T("Account.ChangePassword.Fields.ConfirmNewPassword.PlaceHolder")"/>
                                <nop-required />
                                <span asp-validation-for="ConfirmNewPassword"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="buttons">
                    <input type="submit" class="button-1 change-password-button" value="@T("NB.Common.Save")" />
                </div>
        </form>
    </div>
</div>