﻿@model PasswordRecoveryModel
@{
	Layout = "_ColumnsOne";

	//title
	Html.AddTitleParts(T("PageTitle.PasswordRecovery").Text);
	//page class
	Html.AppendPageCssClassParts("html-password-recovery-page");
	Html.AppendPageCssClassParts("html-login-signup-page");
}
<div class="page password-recovery-page">
	<div class="page-title">
		<h1>@T("NB.Account.ForgotPassword")</h1>
		<p>
			@T("NB.Forgot.Password.Text")
		</p>
	</div>
	<div class="page-body">
		<div class="login-signup-wrapper fieldset">
			@if (!string.IsNullOrEmpty(Model.Result))
			{
				var messageClass = Model.IsResultContainError ? "recoveryError" : "recoverySuccess";
				<div class="result @messageClass">
					@Model.Result
				</div>
			}
			<form asp-route="PasswordRecovery" method="post">
				<div asp-validation-summary="ModelOnly" class="message-error"></div>
				<p class="tooltip">@T("Account.PasswordRecovery.Tooltip")</p>
				<div class="fieldset">
					<div class="form-fields">
						<div class="inputs">
							<label asp-for="Email" asp-postfix=" "></label>
							<input asp-for="Email" class="email" placeholder="@T("Account.PasswordRecovery.Email.Placeholder")" />
							<nop-required />
							<span asp-validation-for="Email"></span>
						</div>
					</div>
					@if (Model.DisplayCaptcha)
					{
						<div class="captcha-box">
							<nop-captcha />
						</div>
					}
				</div>
				<div class="buttons">
					<input type="submit" name="send-email" class="button-1 password-recovery-button" value="@T("Account.PasswordRecovery.RecoverButton")" />
				</div>
				<div class="registerText">@T("NB.Login.Signup.Text") <a href="">@T("NB.Button.Signup.Now")</a></div>
			</form>
		</div>
	</div>
</div>
