﻿@model CustomerAddressListModel
@using Nop.Web.Models.Customer;
@{
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Account").Text);
}
@section left
{
    @Html.Action("CustomerNavigation", "Customer", new { selectedTabId = CustomerNavigationEnum.Addresses })
}
<div class="page account-page address-list-page">
    <div class="page-title">
        <h1>@T("Account.MyAccount") - @T("Account.CustomerAddresses")</h1>
    </div>
    <div class="page-body">
        <div class="customer-addresses">
            <div class="address-list">
                @if (Model.Addresses.Count > 0)
                {
                    for (int i = 0; i < Model.Addresses.Count; i++)
                    {
                        var address = Model.Addresses[i];

                        <div class="address-item">
                            <table width="100%" cellspacing="0" cellpadding="2" border="0">
                                <tbody>
                                    <tr>
                                        <td><strong>@address.FirstName @address.LastName</strong></td>
                                        <td class="buttons">
                                            <input type="button" class="button-2 editaddressbutton" onclick="location.href='@(Url.RouteUrl("CustomerAddressEdit", new { addressId = address.Id }))'" value='@T("Common.Edit")' />
                                            <input type="button" class="button-2 deleteaddressbutton" onclick="if (confirm('@(T("Common.AreYouSure").Text)')) {location.href='@(Url.RouteUrl("CustomerAddressDelete", new { addressId = address.Id }))';}" value="@T("Common.Delete")" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <div>
                                                @address.FirstName @address.LastName<br />
                                                <div>@Html.LabelFor(model => model.Addresses[i].Email, new { }, ":")@address.Email</div>
                                                @if (address.PhoneEnabled)
                                                {
                                                    <div>@Html.LabelFor(model => model.Addresses[i].PhoneNumber, new { }, ":")@address.PhoneNumber</div>
                                                }
                                                @if (address.FaxEnabled)
                                                {
                                                    <div>@Html.LabelFor(model => model.Addresses[i].FaxNumber, new { }, ":")@address.FaxNumber</div>
                                                }
                                                @if (address.CompanyEnabled && !String.IsNullOrEmpty(address.Company))
                                                {
                                                    <div>@address.Company</div>
                                                }
                                                @if (address.StreetAddressEnabled)
                                                {
                                                    <div class="address1">
                                                        @address.Address1
                                                    </div>
                                                }
                                                @if (address.StreetAddress2Enabled && !String.IsNullOrEmpty(address.Address2))
                                                {
                                                    <div class="address2">
                                                        @address.Address2
                                                    </div>
                                                }
                                                @if (address.CityEnabled || address.StateProvinceEnabled || address.ZipPostalCodeEnabled)
                                                {
                                                    var cityStateZip = "";
                                                    if (address.CityEnabled)
                                                    {
                                                        cityStateZip = address.City;
                                                        if (address.StateProvinceEnabled || address.ZipPostalCodeEnabled)
                                                        {
                                                            cityStateZip += ",";
                                                        }
                                                    }
                                                    if (address.StateProvinceEnabled)
                                                    {
                                                        if (!String.IsNullOrEmpty(cityStateZip))
                                                        {
                                                            cityStateZip += " ";
                                                        }
                                                        cityStateZip += address.StateProvinceName;
                                                    }
                                                    if (address.ZipPostalCodeEnabled)
                                                    {
                                                        if (!String.IsNullOrEmpty(cityStateZip))
                                                        {
                                                            cityStateZip += " ";
                                                        }
                                                        cityStateZip += address.ZipPostalCode;
                                                    }

                                                    <div class="city-state-zip">
                                                        @cityStateZip
                                                    </div>
                                                }
                                                @if (address.CountryEnabled && !String.IsNullOrEmpty(address.CountryName))
                                                {
                                                    <div class="country">
                                                        @address.CountryName
                                                    </div>
                                                }
                                                @if (!String.IsNullOrEmpty(address.FormattedCustomAddressAttributes))
                                                {
                                                    <div class="custom-attributes-view">
                                                        @Html.Raw(address.FormattedCustomAddressAttributes)
                                                    </div>
                                                }
                                            </div>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>


                    }
                }
                else
                {
                    @T("Account.CustomerAddresses.NoAddresses")
                }
            </div>
            <div class="clear"></div>
            <div class="add-button">
                <input type="button" class="button-1 addaddressbutton" onclick="location.href='@Url.RouteUrl("CustomerAddressAdd")'" value="@T("Common.AddNew")" />
            </div>
        </div>
    </div>
</div>
