﻿@model Sinek_LocationModel

<div class="panel-body">
	@(Html.LocalizedEditor<Sinek_LocationModel, Sinek_LocationLocalizedModel>("sinek_Location-info-localized",
    @<div>
         <div class="form-group">
              <div class="col-md-3">
                  <nop-label asp-for="@Model.Locales[item].Name1" />
              </div>
              <div class="col-md-9">
                  <nop-editor asp-for="@Model.Locales[item].Name1" />
                  <span asp-validation-for="@Model.Locales[item].Name1"></span>
              </div>
         </div>
         <div class="form-group">
              <div class="col-md-3">
                  <nop-label asp-for="@Model.Locales[item].Name2" />
              </div>
              <div class="col-md-9">
                  <nop-editor asp-for="@Model.Locales[item].Name2" />
                  <span asp-validation-for="@Model.Locales[item].Name2"></span>
              </div>
         </div>
         <div class="form-group">
              <div class="col-md-3">
                  <nop-label asp-for="@Model.Locales[item].LocationAddress" />
              </div>
              <div class="col-md-9">
                  <nop-editor asp-for="@Model.Locales[item].LocationAddress" />
                  <span asp-validation-for="@Model.Locales[item].LocationAddress"></span>
              </div>
         </div>
         <div class="form-group">
              <div class="col-md-3">
                  <nop-label asp-for="@Model.Locales[item].PhoneNo1" />
              </div>
              <div class="col-md-9">
                  <nop-editor asp-for="@Model.Locales[item].PhoneNo1" />
                  <span asp-validation-for="@Model.Locales[item].PhoneNo1"></span>
              </div>
         </div>
         <div class="form-group">
              <div class="col-md-3">
                  <nop-label asp-for="@Model.Locales[item].PhoneNo2" />
              </div>
              <div class="col-md-9">
                  <nop-editor asp-for="@Model.Locales[item].PhoneNo2" />
                  <span asp-validation-for="@Model.Locales[item].PhoneNo2"></span>
              </div>
         </div>
         <div class="form-group">
              <div class="col-md-3">
                  <nop-label asp-for="@Model.Locales[item].Latitude" />
              </div>
              <div class="col-md-9">
                  <nop-editor asp-for="@Model.Locales[item].Latitude" />
                  <span asp-validation-for="@Model.Locales[item].Latitude"></span>
              </div>
         </div>
         <div class="form-group">
              <div class="col-md-3">
                  <nop-label asp-for="@Model.Locales[item].Longitude" />
              </div>
              <div class="col-md-9">
                  <nop-editor asp-for="@Model.Locales[item].Longitude" />
                  <span asp-validation-for="@Model.Locales[item].Longitude"></span>
              </div>
         </div>
         <div class="form-group">
              <div class="col-md-3">
                  <nop-label asp-for="@Model.Locales[item].Fax" />
              </div>
              <div class="col-md-9">
                  <nop-editor asp-for="@Model.Locales[item].Fax" />
                  <span asp-validation-for="@Model.Locales[item].Fax"></span>
              </div>
         </div>
         <div class="form-group">
              <div class="col-md-3">
                  <nop-label asp-for="@Model.Locales[item].WebSite" />
              </div>
              <div class="col-md-9">
                  <nop-editor asp-for="@Model.Locales[item].WebSite" />
                  <span asp-validation-for="@Model.Locales[item].WebSite"></span>
              </div>
         </div>
         <div class="form-group">
              <div class="col-md-3">
                  <nop-label asp-for="@Model.Locales[item].EMail" />
              </div>
              <div class="col-md-9">
                  <nop-editor asp-for="@Model.Locales[item].EMail" />
                  <span asp-validation-for="@Model.Locales[item].EMail"></span>
              </div>
         </div>
         <div class="form-group">
              <div class="col-md-3">
                  <nop-label asp-for="@Model.Locales[item].Notes" />
              </div>
              <div class="col-md-9">
                  <nop-editor asp-for="@Model.Locales[item].Notes" />
                  <span asp-validation-for="@Model.Locales[item].Notes"></span>
              </div>
         </div>
         <div class="form-group">
              <div class="col-md-3">
                  <nop-label asp-for="@Model.Locales[item].SellsRockerz" />
              </div>
              <div class="col-md-9">
                  <nop-editor asp-for="@Model.Locales[item].SellsRockerz" />
                  <span asp-validation-for="@Model.Locales[item].SellsRockerz"></span>
              </div>
         </div>
         <div class="form-group">
              <div class="col-md-3">
                  <nop-label asp-for="@Model.Locales[item].SellsSk8tape" />
              </div>
              <div class="col-md-9">
                  <nop-editor asp-for="@Model.Locales[item].SellsSk8tape" />
                  <span asp-validation-for="@Model.Locales[item].SellsSk8tape"></span>
              </div>
         </div>

         <input type="hidden" asp-for="@Model.Locales[item].LanguageId" />
    </div>
    ,
    @<div>
         <div class="form-group">
              <div class="col-md-3">
                  <nop-label asp-for="@Model.Name1" />
              </div>
              <div class="col-md-9">
                  <nop-editor asp-for="@Model.Name1" />
                  <span asp-validation-for="@Model.Name1"></span>
              </div>
         </div>
         <div class="form-group">
              <div class="col-md-3">
                  <nop-label asp-for="@Model.Name2" />
              </div>
              <div class="col-md-9">
                  <nop-editor asp-for="@Model.Name2" />
                  <span asp-validation-for="@Model.Name2"></span>
              </div>
         </div>
         <div class="form-group">
              <div class="col-md-3">
                  <nop-label asp-for="@Model.LocationAddress" />
              </div>
              <div class="col-md-9">
                  <nop-editor asp-for="@Model.LocationAddress" />
                  <span asp-validation-for="@Model.LocationAddress"></span>
              </div>
         </div>
         <div class="form-group">
              <div class="col-md-3">
                  <nop-label asp-for="@Model.PhoneNo1" />
              </div>
              <div class="col-md-9">
                  <nop-editor asp-for="@Model.PhoneNo1" />
                  <span asp-validation-for="@Model.PhoneNo1"></span>
              </div>
         </div>
         <div class="form-group">
              <div class="col-md-3">
                  <nop-label asp-for="@Model.PhoneNo2" />
              </div>
              <div class="col-md-9">
                  <nop-editor asp-for="@Model.PhoneNo2" />
                  <span asp-validation-for="@Model.PhoneNo2"></span>
              </div>
         </div>
         <div class="form-group">
              <div class="col-md-3">
                  <nop-label asp-for="@Model.Latitude" />
              </div>
              <div class="col-md-9">
                  <nop-editor asp-for="@Model.Latitude" />
                  <span asp-validation-for="@Model.Latitude"></span>
              </div>
         </div>
         <div class="form-group">
              <div class="col-md-3">
                  <nop-label asp-for="@Model.Longitude" />
              </div>
              <div class="col-md-9">
                  <nop-editor asp-for="@Model.Longitude" />
                  <span asp-validation-for="@Model.Longitude"></span>
              </div>
         </div>
         <div class="form-group">
              <div class="col-md-3">
                  <nop-label asp-for="@Model.Fax" />
              </div>
              <div class="col-md-9">
                  <nop-editor asp-for="@Model.Fax" />
                  <span asp-validation-for="@Model.Fax"></span>
              </div>
         </div>
         <div class="form-group">
              <div class="col-md-3">
                  <nop-label asp-for="@Model.WebSite" />
              </div>
              <div class="col-md-9">
                  <nop-editor asp-for="@Model.WebSite" />
                  <span asp-validation-for="@Model.WebSite"></span>
              </div>
         </div>
         <div class="form-group">
              <div class="col-md-3">
                  <nop-label asp-for="@Model.EMail" />
              </div>
              <div class="col-md-9">
                  <nop-editor asp-for="@Model.EMail" />
                  <span asp-validation-for="@Model.EMail"></span>
              </div>
         </div>
         <div class="form-group">
              <div class="col-md-3">
                  <nop-label asp-for="@Model.Notes" />
              </div>
              <div class="col-md-9">
                  <nop-editor asp-for="@Model.Notes" />
                  <span asp-validation-for="@Model.Notes"></span>
              </div>
         </div>
         <div class="form-group">
              <div class="col-md-3">
                  <nop-label asp-for="@Model.SellsRockerz" />
              </div>
              <div class="col-md-9">
                  <nop-editor asp-for="@Model.SellsRockerz" />
                  <span asp-validation-for="@Model.SellsRockerz"></span>
              </div>
         </div>
         <div class="form-group">
              <div class="col-md-3">
                  <nop-label asp-for="@Model.SellsSk8tape" />
              </div>
              <div class="col-md-9">
                  <nop-editor asp-for="@Model.SellsSk8tape" />
                  <span asp-validation-for="@Model.SellsSk8tape"></span>
              </div>
         </div>

    </div>))

	<div class="form-group advanced-setting">
		<div class="col-md-3">
			<nop-label asp-for="Published" />
		</div>
		<div class="col-md-9">
			<nop-editor asp-for="Published" />
			<span asp-validation-for="Published"></span>
		</div>
	</div>

</div>
