﻿@model MiniShoppingCartModel

@functions{
	public string getColorName(string str)
	{
		string result = "";

		try
		{
			string[] arr = str.Split('_');
			if (arr.Length == 2)
			{
				arr = arr[1].Split('.');
				if (arr.Length == 2)
					result = arr[0];
			}
		}
		catch { }

		return result;
	}
}

<div id="flyout-cart" class="flyout-cart">
	<div class="mini-shopping-cart">
		<div class="count">
			@if (Model.TotalProducts == 0)
			{
				@T("ShoppingCart.Mini.NoItems")
			}
			else
			{
				@Html.Raw(string.Format(T("ShoppingCart.Mini.ItemsText").Text, $"<a href=\"{Url.RouteUrl("ShoppingCart")}\">{string.Format(T("ShoppingCart.Mini.Items").Text, Model.TotalProducts)}</a>"))
			}
		</div>
		@if (Model.TotalProducts > 0)
		{
			<div class="items">
				@for (var i = 0; i < Model.Items.Count; i++)
				{
					var item = Model.Items[i];
					<div class="item @(i == 0 ? "first" : null)">
						@if (Model.ShowProductImages)
						{
							int imagCnt = 0;
							<div class="col-sm-3 picture">
								<div class="rocketpack">
									@foreach (var color in item.ListColors)
									{
										if (imagCnt == 0)
										{
											<img class="frontleft" alt="Front Left" src="@color" title="@(getColorName(color))" />

										}
										if (imagCnt == 1)
										{
											<img class="frontright" alt="Front Right" src="@color" title="@(getColorName(color))" />

										}
										if (imagCnt == 2)
										{
											<img class="frontspring" alt="Spring set" src="@color" title="@(getColorName(color))" />
											<div class="clear"></div>

										}
										if (imagCnt == 3)
										{
											<img class="backleft" alt="Back Left" src="@color" title="@(getColorName(color))" />

										}
										if (imagCnt == 4)
										{
											<img class="backright" alt="Back Right" src="@color" title="@(getColorName(color))" />

										}
										if (imagCnt == 2)
										{
											<img class="backspring" alt="Spring set" src="@color" title="@(getColorName(color))" />

										}
										imagCnt += 1;
									}
								</div>
							</div>

							@*<div class="col-sm-3 picture">
									<a href="@Url.RouteUrl("Product", new { SeName = item.ProductSeName })" title="@item.Picture.Title">
										<img alt="@item.Picture.AlternateText" src="@item.Picture.ImageUrl" title="@item.Picture.Title" />
									</a>
								</div>*@
						}
						<div class="col-sm-6 product">
							<div class="name">
								<a href="@Url.RouteUrl("Product", new { SeName = item.ProductSeName })">@item.ProductName</a>
							</div>
							@if (!string.IsNullOrEmpty(item.AttributeInfo))
							{
								<div class="attributes">
									@Html.Raw(item.AttributeInfo)
								</div>
							}
						</div>
						<div class="col-sm-3 priceQty ">
							<div class="price">@T("ShoppingCart.Mini.UnitPrice"): <span>@item.UnitPrice</span></div>
							<div class="quantity">@T("ShoppingCart.Mini.Quantity"): <span>@item.Quantity</span></div>
						</div>
					</div>
				}
			</div>
			<div class="totals">@T("ShoppingCart.Totals.SubTotal"): <strong>@Model.SubTotal</strong></div>
			<div class="buttons">
				@if (Model.DisplayShoppingCartButton)
				{
					<input type="button" value="@T("ShoppingCart.Mini.ViewCart")" class="button-1 cart-button" onclick="setLocation('@(Url.RouteUrl("ShoppingCart"))')" />

				}
				@if (Model.DisplayCheckoutButton)
				{
					var checkoutUrl = "";
					if (Model.AnonymousCheckoutAllowed && Model.CurrentCustomerIsGuest)
					{
						checkoutUrl = Url.RouteUrl("LoginCheckoutAsGuest", new { returnUrl = Url.RouteUrl("ShoppingCart") });
					}
					else
					{
						checkoutUrl = Url.RouteUrl("Checkout");
					}
					<input type="button" value="@T("Checkout.Button")" class="button-1 checkout-button" onclick="setLocation('@checkoutUrl')" />
				}
			</div>
		}
	</div>
</div>
