﻿@model ShoppingCartModel.DiscountBoxModel
@using Nop.Web.Models.ShoppingCart
@if (Model.Display)
{
    <div class="coupon-box">
        <div class="hint">
            @T("Nb.Opc.ShoppingCart.DiscountCouponCode.Tooltip")
        </div>
        <div class="coupon-code">
            <input name="discountcouponcode" id="discountcouponcode" type="text" class="discount-coupon-code" aria-label="@T("Nb.Opc.ShoppingCart.DiscountCouponCode.Label")" />
            <input type="button" name="applydiscountcouponcode" id="applydiscountcouponcode"
                   value="@T("Nb.Opc.ShoppingCart.CouponCode.Button")" class="button-2 apply-discount-coupon-code-button" />
        </div>
        @foreach (var message in Model.Messages)
        {
            <div class="@(Model.IsApplied ? "message-success" : "message-failure")">
                @message
            </div>
        }
        @foreach (var discount in Model.AppliedDiscountsWithCodes)
        {
            <div class="current-code">
                <span class="applied-discount-code">@string.Format(T("ShoppingCart.DiscountCouponCode.CurrentCode").Text, discount.CouponCode)</span>
                @*empty value (little hack for FormValueExistsAttribute)*@
                <input type="button" name="removediscount-@discount.Id" value=" " title="@T("Common.Remove")" class="remove-discount-button" />
            </div>
        }
        <script>
            $(document).ready(function () {
                $('#applydiscountcouponcode').on('click', function (event) {
                    discountgiftcardcouponcode('/checkout/applydiscountcoupon')
                    return false;
                });
                $('.remove-discount-button').on('click', function () {
                    // add parameter for the remove discount. Because in form serialize we didn't get button value
                    var extraParameters = "&" + $(this).get(0).name + "=" + $(this).get(0).name;
                    discountgiftcardcouponcode('/checkout/RemoveDiscountCoupon', extraParameters)
                    return false;
                });
                $('#discountcouponcode').on('keydown', function (event) {
                    if (event.keyCode == 13) {
                        $('#applydiscountcouponcode').trigger("click");
                        return false;
                    }
                });
            });
        </script>
    </div>

}