﻿@using Nop.Core.Domain
@using StackExchange.Profiling
@using Nop.Core.Domain.Common
@using Nop.Core.Domain.Seo
@using Nop.Services.Events
@using Nop.Services.Security
@using Nop.Web.Framework.Events
@using Nop.Core
@inject CommonSettings commonSettings
@inject IEventPublisher eventPublisher
@inject IPermissionService permissionService
@inject IWorkContext workContext
@inject SeoSettings seoSettings
@inject StoreInformationSettings storeInformationSettings
@inject Nop.Services.Localization.ILanguageService languageService
@{

	Html.AppendScriptParts(ResourceLocation.Footer, "~/js/public.countryselect.js");
	Html.AppendScriptParts(ResourceLocation.Footer, "~/js/public.ajaxcart.js");
	Html.AppendScriptParts(ResourceLocation.Footer, "~/js/public.common.js");
	//when jQuery migrate script logging is active you will see the log in the browser console
	if (commonSettings.JqueryMigrateScriptLoggingActive)
	{
		Html.AppendScriptParts(ResourceLocation.Footer, "~/lib/jquery-migrate/jquery-migrate-3.0.1.js");
	}
	else
	{
		Html.AppendScriptParts(ResourceLocation.Footer, "~/lib/jquery-migrate/jquery-migrate-3.0.1.min.js");
	}
	Html.AppendScriptParts(ResourceLocation.Footer, "~/lib/jquery-ui/jquery-ui-1.12.1.custom/jquery-ui.min.js");
	Html.AppendScriptParts(ResourceLocation.Footer, "~/lib/jquery-validate/jquery.validate.unobtrusive-v3.2.10/jquery.validate.unobtrusive.min.js");
	Html.AppendScriptParts(ResourceLocation.Footer, "~/lib/jquery-validate/jquery.validate-v1.17.0/jquery.validate.min.js");
	Html.AppendScriptParts(ResourceLocation.Footer, "~/lib/jquery/jquery-3.3.1.min.js");
	//X-UA-Compatible tag
	if (commonSettings.RenderXuaCompatible)
	{
		Html.AppendHeadCustomParts($"<meta http-equiv=\"X-UA-Compatible\" content=\"{commonSettings.XuaCompatibleValue}\"/>");
	}
	//custom tag(s);
	if (!string.IsNullOrEmpty(seoSettings.CustomHeadTags))
	{
		Html.AppendHeadCustomParts(seoSettings.CustomHeadTags);
	}
	var displayMiniProfiler = storeInformationSettings.DisplayMiniProfilerInPublicStore
		&& (!storeInformationSettings.DisplayMiniProfilerForAdminOnly || permissionService.Authorize(StandardPermissionProvider.AccessAdminPanel));
	//event
	eventPublisher.Publish(new PageRenderingEvent(this.Html));
}
<!DOCTYPE html>
<html lang="@languageService.GetTwoLetterIsoLanguageName(workContext.WorkingLanguage)" @(this.ShouldUseRtlTheme() ? Html.Raw(" dir=\"rtl\"") : null) @Html.NopPageCssClasses()>
<head>
	<title>@Html.NopTitle()</title>
	<meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
	<meta name="description" content="@(Html.NopMetaDescription())" />
	<meta name="keywords" content="@(Html.NopMetaKeywords())" />
	<meta name="generator" content="nopCommerce" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	@Html.NopHeadCustom()
	@*This is used so that themes can inject content into the header*@
	@await Html.PartialAsync("Head")
	@await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HeadHtmlTag })
	@Html.NopCssFiles(ResourceLocation.Head)
	@Html.NopScripts(ResourceLocation.Head)
	@Html.NopCanonicalUrls()
	@await Component.InvokeAsync("NewsRssHeaderLink")
	@await Component.InvokeAsync("BlogRssHeaderLink")
	@*Insert favicon and app icons head code*@
	@await Component.InvokeAsync("Favicon")
	@if (displayMiniProfiler)
	{
		<mini-profiler />
	}
	@Html.NopInlineScripts(ResourceLocation.Head)
	<!--Powered by nopCommerce - https://www.nopCommerce.com-->
	@{
		Html.AddCssFileParts("~/Themes/RockerzV1/Content/Gallery/jquery.ui.all.css");
		Html.AddCssFileParts("~/Themes/RockerzV1/Content/Gallery/ui.coverflow.css");
	}
	@*<link rel="stylesheet" type="text/css" href="~/Themes/RockerzV1/Content/Gallery/jquery.ui.all.css" />
		<link rel="stylesheet" type="text/css" href="~/Themes/RockerzV1/Content/Gallery/ui.coverflow.css" />*@
	<link href="/favicon.ico" type="image/x-icon" rel="icon" />

</head>
<body>
    @RenderBody()
    @Html.NopCssFiles(ResourceLocation.Footer)
    @Html.NopScripts(ResourceLocation.Footer)
    @Html.NopInlineScripts(ResourceLocation.Footer)
 
</body>
</html>