﻿@{
    Layout = "_ColumnsOne";

    //page class
    Html.AppendPageCssClassParts("html-home-page");
}
<div class="page home-page">
    <div class="page-body">
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HomepageTop })
        @await Component.InvokeAsync("TopicBlock", new { systemName = "HomepageText" })

        <section class="main-content" id="aboutSection">
            <h3 class="section-header">@T("NB.Heading.Rockerz.Product.Information")</h3>
            <nav class="menu">
                <input type="checkbox" class="menu-open" name="menu-open" id="menu-open" checked="checked" />
                <label class="menu-open-button" for="menu-open">
                </label>

                <a href="#" class="menu-item">
                    <p class="item_desc">
                        <span class="item_desc_head">Rock Through Your Walk</span>
                        <span class="item_desc_content">
                            Patented rocker base reduces impact & joint
                            stress Ergonomically designed for safety &
                            comfort Experience the ease of movement in
                            every step
                        </span>
                    </p>
                    <img src="../Themes/RockerzV1/Content/images/skate_img1.png" />
                </a>
                <a href="#" class="menu-item">
                    <p class="item_desc">
                        <span class="item_desc_head">Red, White & Blue</span>
                        <span class="item_desc_content">
                            Made in the United States for highest
                            quality standards
                        </span>
                    </p>
                    <img src="../Themes/RockerzV1/Content/images/skate_img2.png" />
                </a>
                <a href="#" class="menu-item">
                    <p class="item_desc">
                        <span class="item_desc_head">Go Green</span>
                        <span class="item_desc_content">
                            Made with recycled materials All
                            parts 100% recyclable
                        </span>
                    </p>
                    <img src="../Themes/RockerzV1/Content/images/skate_img3.png" />
                </a>
                <a href="#" class="menu-item">
                    <p class="item_desc">
                        <span class="item_desc_head">Chop, Chop</span>
                        <span class="item_desc_content">
                            Always fully assembled & custom-
                            fitted to your exact blade model & size
                        </span>
                    </p>
                    <img src="../Themes/RockerzV1/Content/images/skate_img4.png" />
                </a>
                <a href="#" class="menu-item">
                    <p class="item_desc">
                        <span class="item_desc_head">Colors That Rock</span>
                        <span class="item_desc_content">A beautiful palette of vibrant colors</span>
                    </p><img src="../Themes/RockerzV1/Content/images/skate_img5.png" />
                </a>
                <a href="#" class="menu-item">
                    <p class="item_desc">
                        <span class="item_desc_head">Mix & Match</span>
                        <span class="item_desc_content">
                            Combine up to 4 colors Explore color
                            combinations here or download Rockerz
                            Skate Guard App for any mobile device
                        </span>
                    </p><img src="../Themes/RockerzV1/Content/images/skate_img6.png" />
                </a>
                <a href="#" class="menu-item">
                    <p class="item_desc">
                        <span class="item_desc_head">Exclusive Accommodations</span>
                        <span class="item_desc_content">
                            Patented v-shaped blade channel Blades slide in &
                            out with ease Only Rockerz guards accommodate
                            Matrix, Paramount & Revolution blades
                        </span>
                    </p> <img src="../Themes/RockerzV1/Content/images/skate_img7.png" />
                </a>
                <a href="#" class="menu-item">
                    <p class="item_desc">
                        <span class="item_desc_head">Spring Is In</span>
                        <span class="item_desc_content">
                            Fully-recessed springs & screws Sleek
                            design prevents clothing snags
                        </span>
                    </p> <img src="../Themes/RockerzV1/Content/images/skate_img8.png" />
                </a>
                <a href="#" class="menu-item">
                    <p class="item_desc">
                        <span class="item_desc_head">Sleek, Unique Waves</span>
                        <span class="item_desc_content">
                            Structurally designed for lateral support
                            Beveled thumb grips for easy handling
                        </span>
                    </p> <img src="../Themes/RockerzV1/Content/images/skate_img9.png" />
                </a>
                <a href="#" class="menu-item">
                    <p class="item_desc">
                        <span class="item_desc_head">Safety First</span>
                        <span class="item_desc_content">
                            Heavy-duty, gripping tread for safety Wide,
                            stable walking base (50% wider)
                        </span>
                    </p><img src="../Themes/RockerzV1/Content/images/skate_img10.png" />
                </a>
            </nav> 
        </section>
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HomepageBeforeCategories })
        @await Component.InvokeAsync("HomepageCategories")
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HomepageBeforeProducts })
        @await Component.InvokeAsync("HomepageProducts")
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HomepageBeforeBestSellers })
        @await Component.InvokeAsync("HomepageBestSellers")
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HomepageBottom })
    </div>
</div>
