﻿@model ProductDetailsModel.ProductVariantModel.AddToCartModel
@using Nop.Web.Models.Catalog;
@using Nop.Web.Framework;
@using Nop.Core.Domain.Orders;
<div class="add-info">
    @if (Model.CustomerEntersPrice)
    {
        @Html.LabelFor(model => model.CustomerEnteredPrice, new { @class = "enter-price-label" })<text>:</text>
        //round price
        @Html.TextBox("CustomerEnteredPrice", Convert.ToInt32(Math.Ceiling(Model.CustomerEnteredPrice)), new { @class = "enter-price-input" })
        <br />
        @Model.CustomerEnteredPriceRange
        <br />
    }
    @if (!Model.DisableBuyButton || !Model.DisableWishlistButton)
    {
        @Html.LabelFor(model => model.EnteredQuantity, new { @class = "qty-label" })<text>:</text>
        if (Model.AllowedQuantities.Count > 0)
        {
        @Html.DropDownListFor(model => model.EnteredQuantity, Model.AllowedQuantities, new { @class = "qty-dropdown" })
        }
        else
        {
        @Html.TextBoxFor(model => model.EnteredQuantity, new { @class = "qty-input" })
        }
    }
    @if (!Model.DisableBuyButton)
    {
        <input type="submit" id="btnAddToCart" name="addtocart-@(Model.ProductVariantId)" class="productvariantaddtocartbutton" value="@(Model.AvailableForPreOrder ? T("ShoppingCart.PreOrder") : T("ShoppingCart.AddToCart"))" onclick="fillvalues();"/>
@*<input type="submit" name="addtocartbutton-@(Model.ProductVariantId)" class="productvariantaddtocartbutton" value="@(Model.AvailableForPreOrder ? T("ShoppingCart.PreOrder") : T("ShoppingCart.AddToCart"))" onclick="AjaxCart.addproductvarianttocart('@Url.RouteUrl("AddProductVariantToCart", new { productVariantId = Model.ProductVariantId, shoppingCartTypeId = (int)ShoppingCartType.ShoppingCart })', '#product-details-form');return false;" />*@
    }
    @if (!Model.DisableWishlistButton)
    {
        <input type="submit" name="addtowishlistbutton-@(Model.ProductVariantId)" class="productvariantaddtowishlistbutton" value="@T("ShoppingCart.AddToWishlist")" onclick="AjaxCart.addproductvarianttocart('@Url.RouteUrl("AddProductVariantToCart", new { productVariantId = Model.ProductVariantId, shoppingCartTypeId = (int)ShoppingCartType.Wishlist })', '#product-details-form');return false;" />
    }
    @Html.Action("WidgetsByZone", "Widget", new { widgetZone = "productdetails_add_info" })
</div>
<script type="text/javascript">


    function fillvalues() {
        if (typeof String.prototype.trim !== 'function') {
            String.prototype.trim = function () {
                return this.replace(/^\s+|\s+$/g, '');
            }
        }

        //$(".status-bar,.header-menu,.header,.title,.section-header,.validation-summary-errors,.field-validation-error").show();

        //        var spring = document.getElementById('product_attribute_13_9_14');

        // This for Nop Control
        //        var ddlSpring = document.getElementById("product_attribute_13_9_14");
        //        var ddlFrontLeft = document.getElementById('product_attribute_13_10_15');
        //        var ddlFrontRight = document.getElementById('product_attribute_13_11_16');
        //        var ddlBackLeft = document.getElementById('product_attribute_13_12_17');
        //        var ddlBackRight = document.getElementById('product_attribute_13_14_18');
        //        var ddlBladeMake = document.getElementById('product_attribute_13_13_19');
        //        var ddlBladeModel = document.getElementById('product_attribute_13_15_20');
        //        var ddlBladeSize = document.getElementById('product_attribute_13_16_21');
        //        var ddlBladeCutPoint = document.getElementById('product_attribute_13_17_22');
        //        var rdTowelColor = document.getElementById('product_attribute_13_18_23');

        //        var spFL = document.getElementById('ManufacturerId');

        // This is for Rocker Control
        //        var hdsprings = document.getElementById('hdsprings');
        //        var hdleftFront = document.getElementById('hdleftFront');
        //        var hdrightFront = document.getElementById('hdrightFront');
        //        var hdrightBack = document.getElementById('hdleftBack');
        //        var hdrightBack = document.getElementById('hdrightBack');
        //        var ManufacturerId = document.getElementById('ManufacturerId');
        //        var ModelId = document.getElementById('ModelId');
        //        var AvailableCutPoint = document.getElementById('AvailableCutPoint');
        //        var txtCutPoint1 = document.getElementById('txtCutPoint1');
        //        var pinktowel = document.getElementById('pinktowel');
        //        var greentowel = document.getElementById('greentowel');

        //        alert(spFL.value);
        //        spring.value = spFL.value;

        //        ddlSpring.value = hdsprings.value;
        //        ddlFrontLeft.value = hdleftFront.value;
        //        ddlFrontRight.value = hdrightFront.value;
        //        ddlBackLeft.value = hdrightBack.value;
        //        ddlBackRight.value = hdrightBack.value;

        //        ddlBladeMake.value = ManufacturerId.value;
        //        ddlBladeModel.value = ModelId.value;
        //        ddlBladeSize.value = AvailableCutPoint.value;
        //        ddlBladeCutPoint.value = txtCutPoint1.value;
        //        rdTowelColor.value = pinktowel.value;
        //        rdTowelColor.value = greentowel.value;



        //var ManufacturerId = $("#ManufacturerId option:selected").text().trim().toString();
        var ManufacturerId = $("#ManufacturerId option:selected").text().toString();

        var ModelId = $("#ModelId option:selected").text().toString();
        //var AvailableCutPoint = $("#AvailableCutPoint option:selected").text().trim().toString();
        var AvailableCutPoint = $("#AvailableCutPoint option:selected").text().toString();
        //var txtCutPoint1 = $("input#txtCutPoint1").val().trim().toString();
        var txtCutPoint1 = $("input#txtCutPoint1").val().toString();
        //$("#product_attribute_13_13_19 option:contains(" + ManufacturerId + ")").attr('selected', 'selected');
        //$("#product_attribute_13_15_20 option:contains(" + ModelId + ")").attr('selected', 'selected');
        //$("#product_attribute_13_16_21 option:contains(" + AvailableCutPoint + ")").attr('selected', 'selected');

        //        $("#product_attribute_13_17_22 option:contains(" + txtCutPoint1 + ")").attr('selected', 'selected');



        var opts = $('#product_attribute_13_15_20')[0].options;

        //        var array = $.map(opts, function (elem) {
        //            alert(elem.text);
        //            return (elem.value || elem.text);
        //        });
        $("#product_attribute_13_13_19 option").each(function () {
            if ($(this).text().trim() == ManufacturerId.trim()) {
                //if ($(this).text() == ManufacturerId) {
                $(this).attr('selected', 'selected');
            }
        });

        // Added By Kishan
        $.ajax({
            type: "POST",
            url: "/Catalog/GetProductVariantAttributeValueId",
            contentType: "application/json; charset=utf-8",
            dataType: "json", async: false, cache: false,
            data: "{'ModelId':'" + $("#ModelId").val() + "'}",
            success: function (data) {
                if (data == "") {
                    $("#product_attribute_13_15_20 option").each(function () {
                        if ($(this).text().trim() == ModelId.trim()) {
                            $(this).attr('selected', 'selected');
                        }
                    });
                }
                else {
                    $("#product_attribute_13_15_20 option").each(function () {
                        if ($(this).val() == data) {
                            $(this).attr('selected', 'selected');
                        }
                    });
                }
            }
        });
        // Added by Kishan

        $("#product_attribute_13_16_21 option").each(function () {
            if ($(this).text().trim() == AvailableCutPoint.trim()) {
                $(this).attr('selected', 'selected');
            }
        });


        var towel = $('input:radio[name=towelcolor]:checked').val().toString();

        //$("#product_attribute_13_13_19 option:contains(" + $("#ManufacturerId option:selected").text().toString() + ")").attr('selected', 'selected');
        //        $("#product_attribute_13_15_20 option:contains(" + $("#ModelId option:selected").text().toString() + ")").attr('selected', 'selected');
        //$("#product_attribute_13_16_21 option:contains(" + $("#AvailableCutPoint option:selected").text().toString() + ")").attr('selected', 'selected');
        //$("#product_attribute_13_17_22 option:contains(" + $("input#txtCutPoint1").val().toString() + ")").attr('selected', 'selected');
        //$("#product_attribute_13_18_23 option:contains(" + $('input:radio[name=towelcolor]:checked').val().toString() + ")").attr('selected', 'selected');

        $("#product_attribute_13_18_23 option").each(function () {
            if ($(this).text().trim() == towel.trim()) {
                $(this).attr('selected', 'selected');
            }
        });


    }
</script>
