﻿@model Sinek_CutPointWebModel
@using Nop.Core;
@using Nop.Core.Infrastructure;
@using Nop.Web;
@using Nop.Web.Framework;
@using Nop.Web.Framework.UI;
@using Nop.Web.Models.Catalog;
@using Nop.Web.Extensions;
@{
    Layout = "";
}
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.2.min.js" type="text/javascript"></script>
@*<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.10/jquery-ui.min.js"
    type="text/javascript"></script>
       <script type="text/javascript">
           var jQuery = $;
    
    </script>*@
@*<div class="top-title">
    <h2>@T("NB.Heading.Add.To.Cart") </h2>
    <div class="closethick"> 
        <a href="/p/13/RockerzSkateGuards" onclick="hide('my-dialog'), hide('loading_overlay')">X
        </a>
    </div>
</div>*@
<div class="ui-dialog-content">
    <div class="blade">
    </div>
    <table class="adminContent attributebdr"> 
        <tr>
            <td class="adminData"> 
                <label>@T("NB.AddToCart.Blade.Make")</label>  
                @Html.DropDownListFor(model => model.ManufacturerId, Model.AvailableManufacturerId ) 
                @Html.ValidationMessageFor(model => model.ManufacturerId)
            </td>
        </tr> 
        <tr> 
            <td class="adminData"> 
                <label>@T("NB.AddToCart.Blade.Model")</label>
                @Html.DropDownListFor(model => model.ModelId, Model.AvailableModelId) 
                @Html.ValidationMessageFor(model => model.ModelId)
            </td>
        </tr> 
        <tr> 
            <td class="adminData">
                <label>@T("NB.AddToCart.Blade.Size")</label>
                @Html.DropDownListFor(model => model.AvailableCutPoint, Model.AvailableCutPoint)
                <input type="text" id="txtCutPoint1" value="@Model.CutPoint" style="display:none;" /> 
            </td>
        </tr>  
    </table>  
    @*<div style="width: 100%; text-align: center;">
    @if (Model.ModalPictureModel.ImageUrl != "")
    {
        <img src="@Model.ModalPictureModel.ImageUrl" />
    }
    </div>*@ 
</div>
<div class="buttons">
    <a onclick="CheckValidEntry();" href="#" class="canelbtn conti-link">@T("NB.Button.Add.To.Cart")</a> 
    @*<a href="/p/13/RockerzSkateGuards" class="canelbtn" onclick="hide('my-dialog'), hide('loading_overlay')">Cancel</a>*@
    <img id="imgLoading" src="~/images/ajax_loader_big.gif" alt="" style="display: none;" />
</div>
<script type="text/javascript">
    function showLoading() {
        $("#imgLoading").show();
    }

    function CheckValidEntry() {
        var isValid = false;
        var message = "";

        var manufacturerId = $("#ManufacturerId option:selected").val();
        //var manufacturerText = $("#ManufacturerId option:selected").text().trim().toString();
        var manufacturerText = $("#ManufacturerId option:selected").text().toString();


        var ModelId = $("#ModelId option:selected").val();
        //var modelText = $("#ModelId option:selected").text().trim().toString();
        var modelText = $("#ModelId option:selected").text().toString();

        var availableCutPointId = $("#AvailableCutPoint option:selected").val();
        //var availableCutPoint = $("#AvailableCutPoint option:selected").text().trim().toString();
        var availableCutPoint = $("#AvailableCutPoint option:selected").text().toString();

        //var txtCutPoint1 = $("input#txtCutPoint1").val().trim().toString();
        var txtCutPoint1 = $("input#txtCutPoint1").val().toString();

        if (manufacturerText == "Select Blade Make" || manufacturerId == 0) {
            message = message + " Please select Blade Make \n";
            alert(message);
            return;
        }
        else if (modelText == "Select Model" || ModelId == 0) {
            message = message + " Please select Blade Model \n";
            alert(message);
            return;
        }
        else if (availableCutPoint == "Select Size" || availableCutPointId == 0) {
            message = message + " Please select Blade Size \n";
            alert(message);
            return;
        }
        //            else if (txtCutPoint1 == "") {
        //                message = message + " Please given Blade cut point. ";
        //                alert(message);
        //                return;
        //            }

        document.getElementById('btnAddToCart').click();
        hide('my-dialog');
        hide('loading_overlay');
        //document.getElementById("my-dialog").style.display = 'inline';
        document.getElementById("loading_overlay").style.display = 'inline';
    }

</script>
<script type="text/javascript">
var $=jQuery;
        var selectedManufacturer=0;
        var firstModelCount=0;
        var selectedModel=0;
        var selectedCutPoint=0;
        var cutPointValues;
        var blankValue = "";
             $(function() {
            
                   $("#@Html.IdFor(model => model.ManufacturerId)").change(function() {
                        
                        var selectedItem = $(this).val();
                        selectedManufacturer = selectedItem;
                        var ddlModel = $("#@Html.IdFor(model => model.ModelId)");
                        var ddlSize = $("#@Html.IdFor(model => model.AvailableCutPoint)");
                        ddlModel.html('');
                        ddlSize.html('');
                        
                        try {
                        $.ajax({
                            cache:false,
                            async:false,
                            type: "GET",
                            dataType:"JSON",
                            url: "@(Url.Action("GetSinek_ModelByManufacturerId", "ModelPopupWeb"))",
                            //url: "https://localhost:55352/ModelPopupWeb/GetSinek_ModelByManufacturerId",
                            data: { "manufacturerId": selectedItem, "addEmptyModelIfRequired": "true" },
                            //url: "https://localhost:55352/ModelPopupWeb/GetSinek_ModelByManufacturerId",
                            success: function (data) {
                            
                                if(selectedManufacturer!=0)
                                {
//                                    ddlModel.html('<option value="0">Select Model</option>');
//                                    ddlSize.html('<option value="0">Select Size</option>');
                                }
                                $('#txtCutPoint1').val(blankValue);
                                $.each(data, function(id, option) {
                                    ddlModel.append($('<option></option>').val(option.id).html(option.name));
                                    var modelFIrstID =  option.id;
                                    if(firstModelCount==0){
                                    $.ajax({
                                        cache:false,
                                        async:false,
                                        type: "GET",
                                        dataType:"JSON",
                                        url: "@(Url.Action("GetSinek_CutPointByModelIId", "ModelPopupWeb"))",
                                        //url: "https://localhost:55352/sinek_model/GetSinek_CutPointByModelIId",
                                        data: { "modelId": modelFIrstID, "manufacturerId": selectedManufacturer, "addEmptyModelIfRequired": "true" },
                                        success: function (data) {
                                            //ddlSize.html('');
                                            if(selectedModel!=0)
                                            {
            //                                    ddlSize.html('<option value="0">Select Size</option>');
                                            }
                                            $('#txtCutPoint1').val(blankValue);
                                            $.each(data, function(id, option) {
                                                ddlSize.append($('<option></option>').val(option.id).html(option.name));
                                            });
                                        },
                                        error:function (xhr, ajaxOptions, thrownError){
                                            alert('Failed to retrieve sizes.')
                                        }  
                                    });

                                    }
                                    firstModelCount = firstModelCount +1;

                                });
                            },
                            error:function (xhr, ajaxOptions, thrownError){
                                alert('Failed to retrieve models.')
                            }  
                        });
                        } catch (e) {
                            alert(e);
                        }
                        firstModelCount=0;
                    });
                    
//                    Here we fill Cut Point Drop Down

                    $("#@Html.IdFor(model => model.ModelId)").change(function() {
                        var selectedItem = $(this).val();
                        selectedModel =selectedItem;
                        if(selectedManufacturer==0)
                        {
                        selectedManufacturer ="@ViewBag.FirstManufacturerId";
                        }

                        var ddlSize = $("#@Html.IdFor(model => model.AvailableCutPoint)");
                        var ddlModel = $("#@Html.IdFor(model => model.ModelId)");
                        $("#txtCutPoint1").val(blankValue);
                        ddlSize.html('');
                        $.ajax({
                            cache:false,
                            async:false,
                            type: "GET",
                            dataType:"JSON",
                            url: "@(Url.Action("GetSinek_CutPointByModelIId", "ModelPopupWeb"))",
                            //url: "https://localhost:55352/sinek_model/GetSinek_CutPointByModelIId",
                            data: { "modelId": selectedItem, "manufacturerId": selectedManufacturer, "addEmptyModelIfRequired": "true" },
                            success: function (data) {

                                //ddlSize.html('');
                                if(selectedModel!=0)
                                {
//                                    ddlSize.html('<option value="0">Select Size</option>');
                                }
                                $('#txtCutPoint1').val(blankValue);
                                $.each(data, function(id, option) {
                                
                                    ddlSize.append($('<option></option>').val(option.id).html(option.name));
                                });
                            },
                            error:function (xhr, ajaxOptions, thrownError){
                                alert('Failed to retrieve sizes.')
                            }  
                        });
                    });

                    $("#@Html.IdFor(model => model.ModelId)").change(function() {
                        var selectedItem = $(this).val();
                        selectedModel = selectedItem;
                        var manufacturerId = selectedManufacturer;
                        var size = $("#@Html.IdFor(model => model.Size)")
                        var cutpoint = $("#@Html.IdFor(model => model.CutPoint)")
                        $("#txtCutPoint1").val(blankValue);
                        $.ajax({
                             cache:false,
                            async:false,
                            type: "GET",
                            dataType:"JSON",
                            url: "@(Url.Action("GetSinek_CutPointByManufacturerIdModelId", "ModelPopupWeb"))",
                            //url: "https://localhost:55352/sinek_model/GetSinek_CutPointByManufacturerIdModelId",
                            data: { "modelId": selectedItem, "manufacturerId": manufacturerId, "addEmptyModelIfRequired": "true" },
                            success: function (data) {
                            $('#txtCutPoint1').val(blankValue);
//                                $.each(data, function(id, option) {
//                                    $("#txtCutPoint1").val(option.id);
//                                });
                            },
                            error:function (xhr, ajaxOptions, thrownError){
                                alert('Failed to retrieve cut point.')
                            }  
                        });
                    });

//                    $("#@Html.IdFor(model => model.AvailableCutPoint)").change(function() {
//                        var selectedItem = $(this).val();
//                        var size = $("#@Html.IdFor(model => model.Size)")
//                        $("#txtCutPoint1").val(blankValue);
//                        cutPointValues = $("#@Html.IdFor(model => model.AvailableCutPoint) option:selected").text();
//                        
//                        $.ajax({
//                             cache:false,
//                            async:false,
//                            type: "GET",
//                            dataType:"JSON",
//                            url: "@(Url.Action("GetSinek_CutPointByManufacturerIdModelIdSize", "ModelPopupWeb"))",
//                            //url: "https://localhost:55352/sinek_model/GetSinek_CutPointByManufacturerIdModelIdSize",
//                            data: { "modelId": selectedModel, "manufacturerId": selectedManufacturer, "Size": cutPointValues, "addEmptyModelIfRequired": "true" },
//                            success: function (data) {
//                            $("#txtCutPoint1").val(blankValue);
//                                $.each(data, function(id, option) {
//                                    $("#txtCutPoint1").val(option.name);
//                                });
//                            },
//                            error:function (xhr, ajaxOptions, thrownError){
//                                alert('Failed to retrieve cut point.')
//                            }  
//                        });
//                    });
                });
</script>
<script type="text/javascript">
    jQuery(document).ready(function () {
        $("#dvloader").show();
    });
</script>
@*  @Html.Partial("_ProductVariantAddToCart", Model)*@ 