﻿@model CustomerNavigationModel
<div class="block block-account-navigation">
    <div class="title">
        <strong>@T("Account.Navigation")</strong>
    </div>
    <div class="listbox">
        <ul class="list">
            @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.AccountNavigationBefore })
            @foreach (var item in Model.CustomerNavigationItems)
            {
                <li class="@item.ItemClass">
                    <a href="@Url.RouteUrl(item.RouteName)" class="@(Model.SelectedTab == item.Tab ? "active" : "inactive")">@(item.Title)</a>
                </li>
            }
            @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.AccountNavigationAfter })
        </ul>
    </div>
    <div class="title">
        <strong>@T("NB.Account.My.Account")</strong>
    </div>
    <div class="listbox">
        <ul class="list list2">
            <li class="customer-orders">
                <a href="/order/history" class="">Orders</a>
            </li>
        </ul>
    </div>
    <script>
        leftNavActive();
    </script>

</div> 