﻿@using (Html.BeginForm())
{
    <input type="text" name="_manufacturer" id="getManufacturer" />
    <input type="text" name="_model" id="getModel" />
    <input type="text" name="_size" id="getSize" />
    <input type="submit" id="getCutPoint" />
}
@if (ViewBag.Test != "")
{
    <span>@ViewBag.Test</span>    
}